.mask{
    width:100%;
    height:100vh;
    position: fixed;
	top:0;
	left:0;
}

.intro-img{
    width:100%;
    height:100%;
    background-size: contain;
    background-position: center;
    object-fit: cover;
    overflow: hidden;
}

.mask::after{
    content:"";
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    background-color: #000;
    opacity:0.8;
}

.hero{
    height:100%;
    width:100%;
}
.hero .content{
	position: relative;
	top:0;
	left:0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 250px;
	
}
.hero  .content .down{
    font-size: 2rem;
    padding: 0.6rem 0 2.0rem;
}

.hero  .content .up{
    font-size:3rem;
    font-weight: 200;
    text-transform: uppercase;
}

.content .links .btn{
    margin : 2rem 0.2 rem;
}

@media screen and (max-width:640px) {
    .hero .content .down{
        font-size: 1.4rem;
    }

    .hero  .content .up{
        font-size:2rem;
    }
}
 .slidingVertical{
	display: inline;
	font-size: 40px;
	margin: 32px;
	margin-left: 36px;
	/* float: left; */
	overflow: hidden;
	position: relative;
	height: 50px;
}

span {
	display: inline-block;
	color: rgb(139, 57, 57);
	position: relative;
	white-space: nowrap;
	top: 0;
	left: 0;
	animation: move 5s;
	animation-iteration-count: infinite;
  animation-delay: 1s;
  height: 50px;
  }
  
  @keyframes move {
  0%  { top: 0px; }
  20% { top: -50px; }
  40% { top: -100px; }
  60% { top: -150px; }
  80% { top: -200px; }
  }